snippet meta:v "meta set viewport width and scale" w
<meta name="viewport" content="width=device-width, initial-scale=1">
endsnippet

snippet meta:c "meta charset utf-8" w
<meta charset="utf-8">
endsnippet
